
:root {
    --primary-color: #284010;
    --secondary-color: #DAC2ED; 
    --background-color: #F9EEE2; 
    --title-font-family: "Newsreader",serif; 
    --default-font-family: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--default-font-family);
}

.navbar-custom {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}


.navbar-nav a{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.navbar-nav a:hover {
    color: #0F0F0F;
    text-decoration: underline;
}

.logo img{
    height: 70px;
}


span {
    font-family: var(--title-font-family);
    font-style: italic ;
}

.hero {
    background: var(--secondary-color);
    display: flex;
    max-height: auto;
}

.img-container{
    flex: 1;
}

.img-container img {
    max-width: 100%;
   height: auto;
}

.text-container {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 30px;
}

.text-container h1 {
    font-size: 100px ;
    color: var(--primary-color);
    font-weight: 400;
    line-height: 1.2;
    max-width: 630px;
}

.text-container span {
    font-size: 110px;
}


.btn-learn {
    background: var(--background-color);
    color: var(--primary-color);
    padding: 5px 60px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-learn:hover {
    background: var(--primary-color) ;
    color: var(--secondary-color);
}

.services-container {
    background: var(--background-color);
    color: #0F0F0F;
    text-align: center;
    padding: 40px 20px;
}

h3 {
    font-size: 70px;
    font-weight: 400;
    color: #0F0F0F;
}


.services img {
    width: 350px;
    height: 390px;
    object-fit: cover;
    padding: 10px;
    border-radius: 20px;
}

h4 {
    font-family: var(--title-font-family);
    font-style: italic;
    font-size: 50px;
    margin-top: 10px;
}

.btn-services {
    background: var(--primary-color);
        color: var(--secondary-color);
        padding: 5px 60px;
        font-size: 20px;
        border-radius: 20px;
        margin-top: 30px;
        cursor: pointer;
}

.btn-services:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.work-images {
    padding-bottom: 40px;
}

section {
    background: var(--background-color);
}

.about-section {
    padding: 160px 20px;
}

.about-section-content {
    margin: 40px;
}

.about-section img {
    max-width: 500px;
}

.price-list {
    color: #284010;
    padding: 10px;
}

.service-list li {
    font-size: 16px;
    list-style: none;
}

.service-list span {
    font-weight: 400;
}


.price-list h5 {
    text-transform: uppercase;
    font-family: var(--default-font-family);
    font-size: 30px;
    font-style: normal;
}

 h6 {
    font-size: 16px;
    font-weight: 700;
}

.prices {
    padding-left: 50px;
    font-size: 16px;
}

.contact-container {
    text-align: center;
    padding: 100px;
    background: var(--secondary-color);
}

.contact-page h3 {
    font-size: 50px;
}

.contact-details {
    border: 1px solid #0F0F0F;
    padding: 20px;
}

.contact-details h6 {
    text-transform: uppercase;
}

footer {
    color: var(--secondary-color);
    background: var(--primary-color);
    text-align: center;
    padding: 50px 20px;
}

.footer-details {
    display: flex;
    justify-content: space-around;
}

h5 {
    font-size: 30px;
    font-family: var(--title-font-family);
    font-style: italic;
}

.footer-details a {
    text-decoration: none;
    color: #DAC2ED;
    margin: 0 10px;
}

.footer-details a:hover {
    text-decoration: underline;
    color: #F9EEE2;
    transition: transform 0.3s ease;
}


.social-icons {
    margin: 0 10px;
    font-size: 30px;
}

.footer-logo img {
    max-height: 45px;
}


footer p {
    font-size: 12px;
    padding-top: 20px;
}

@media (max-width: 960px) {

    .hero {
        flex-direction: column;
        text-align: center;
        position: relative;
    }

    .text-container {
        padding: 90px 30px;
        max-width: 100%;
        min-height: 100vh;
    }

    .img-container {
        text-align: center;
    }

    .hero h1 {
        font-size: 80px;
        color: #284010;
    }

    .hero span {
        font-size:85px; ;
    }

     h3 {
            font-size: 50px;
    }
    
    span {
            font-size: 55px;
    }

    h4 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }
    .services img {
        max-width: 100%;
        display: block;
        margin: 10px auto;
    }

    .work-images img {
        max-width: 100%;
        margin: 10px auto;
    }

    .about-section {
        text-align: center;
        font-size: 16px;
    }

    .footer-details {
        display: block;
    }

    .footer-logo img {
        display: none;
    }

    .about-section img {
         max-width: 100%;
    }
}


